<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Task</title>
</head>
<body>
    <h3>Select the operation to perform</h3>
    <h4>Encryption : Encrypt the input key</h4>
    <h4>Decription : Decrypt the input key</h4>
    <form action="/select_index" method="POST">
        Encryption<input type="radio" name="task" value="encrypt" id="">
        <br>
        Decription<input type="radio" name="task" value="decrypt" id="">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>